meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')



nav.navbar.navbar-default.fixed-top.navbar-top.navbar-expand-sm.color
  .container
    .navbar-header
      a.navbar-brand Miao
    .navbar-collapse.collapse
      ul.nav.navbar-nav.ml-auto
        li
          a.intro(href="#section-about") 關於我 INTRO
        li
          a.about(href="#section-work") 作品介紹 WORK
        li
          a.story(href="#section-contect") 聯絡我CONTECT
        



header#header_index
  
  .container
    img.flower.flower1(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/192540898_4191614294230577_5391248155468130785_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_ohc=7SRPonlo4ooAX8mvAGO&_nc_ht=scontent-tpe1-1.xx&oh=fb2e2311f6d4ab86c152259ec5993a37&oe=60CC386A", alt="")
    img.flower.flower2(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/192540898_4191614294230577_5391248155468130785_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_ohc=7SRPonlo4ooAX8mvAGO&_nc_ht=scontent-tpe1-1.xx&oh=fb2e2311f6d4ab86c152259ec5993a37&oe=60CC386A", alt="")
    img.logo(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/132036551_4191691924222814_7372104691720230000_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=730e14&_nc_ohc=Xdf7Zd_HcGYAX8VHy6x&_nc_ht=scontent-tpe1-1.xx&oh=3cdfbd491f6a5c2d0a446787787ad138&oe=60CC2B7E", alt="")
    img.flower.flower3(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/192540898_4191614294230577_5391248155468130785_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_ohc=7SRPonlo4ooAX8mvAGO&_nc_ht=scontent-tpe1-1.xx&oh=fb2e2311f6d4ab86c152259ec5993a37&oe=60CC386A", alt="")
    img.flower.flower4(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/192540898_4191614294230577_5391248155468130785_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_ohc=7SRPonlo4ooAX8mvAGO&_nc_ht=scontent-tpe1-1.xx&oh=fb2e2311f6d4ab86c152259ec5993a37&oe=60CC386A", alt="")
    img.flower.flower5(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/192540898_4191614294230577_5391248155468130785_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_ohc=7SRPonlo4ooAX8mvAGO&_nc_ht=scontent-tpe1-1.xx&oh=fb2e2311f6d4ab86c152259ec5993a37&oe=60CC386A", alt="")
    .explore.at_top More
    
section#section-about
  img.follow_icon(src="https://scontent.ftpe4-2.fna.fbcdn.net/v/t1.6435-9/194409807_4194219867303353_3513207393727143746_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=730e14&_nc_ohc=-pZ8kQS_-P4AX-LNQzG&_nc_ht=scontent.ftpe4-2.fna&oh=ba92462a7fd3f8b96a564c01f094eb98&oe=60D22C80", alt="")
  .container
    
    .row
      .col-sm-4.text-right.flo1
        img.about_flower1(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/197189621_4192027990855874_4740416319808504857_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=OeFCZv8L4hEAX_Es04f&tn=e_oUZoeamG0wcRqi&_nc_ht=scontent-tpe1-1.xx&oh=9886884c6d38b4682ea396c2d0554356&oe=60CC61DB", alt="")
      .col-sm-8.word1
        h1 I’m Miao
    .row
      .col-sm-8.offset-4.word2
        p 1995 years girl
        p AI,PS,AE,Web Design
        img.about_flower2.flo2(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/197189621_4192027990855874_4740416319808504857_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=OeFCZv8L4hEAX_Es04f&tn=e_oUZoeamG0wcRqi&_nc_ht=scontent-tpe1-1.xx&oh=9886884c6d38b4682ea396c2d0554356&oe=60CC61DB", alt="")
    .row
      .col-sm-4
        img.about_flower3.flo3(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/197189621_4192027990855874_4740416319808504857_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=OeFCZv8L4hEAX_Es04f&tn=e_oUZoeamG0wcRqi&_nc_ht=scontent-tpe1-1.xx&oh=9886884c6d38b4682ea396c2d0554356&oe=60CC61DB", alt="")
      .col-sm-4.offset-4.word3
        p Tel: 0919603813
        p Mail: ccc551231@gmail.com

section#section-work
  //------------------------------------------------
  #exampleModa1.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog.modal-lg
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Product Design
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') x
            .modal-body
              
              .row
                
                .col-sm-12
                  img(src="https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.6435-9/197682980_4202525246472815_636782777159075220_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=FxLlpekFU9wAX-P41za&tn=zMaZBiAEka6WtBJR&_nc_ht=scontent.ftpe7-4.fna&oh=bfbf06a3ff8a8db1e2e8defc24a747e5&oe=60D255DC", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/199630434_4202525399806133_8322420665447662129_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=VTz6MWY1KvoAX_lZ1ov&_nc_ht=scontent.ftpe7-2.fna&oh=cd008fc46851e7d7adb5d208a611153e&oe=60D07D2C", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/200027523_4202526363139370_7440517894414108258_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=730e14&_nc_ohc=q6m7WvLH9LUAX8MTjTr&tn=zMaZBiAEka6WtBJR&_nc_ht=scontent.ftpe7-3.fna&oh=70ebb0eb9765730a4283d52a4f10bdd1&oe=60D21506", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/200573545_4202526209806052_2985409579413670182_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=yO3JD78kpXIAX_iHvBa&_nc_ht=scontent.ftpe7-2.fna&oh=67c0054a6a344381734bf9f23e71d0f2&oe=60D23BF4", alt="")
  #exampleModa2.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog.modal-lg
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Product Design
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') x
            .modal-body
              
              .row
                .col-sm-12.inside_word INFO : 7-ELEVEN【中元節加價購】  時間：7/17-8/27
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/197217181_4196644147060925_6626762736848517390_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_ohc=ICbi-PrvoasAX_LZf2k&_nc_ht=scontent.ftpe7-2.fna&oh=df84a4886e7a79e1bff48abd26044611&oe=60CE46D9", alt="")
              .row
                .col-sm-4
                  img(src="https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.6435-9/200745115_4196704293721577_2563950091660394136_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=730e14&_nc_ohc=ABSjJNKWYBAAX_M5M2T&_nc_ht=scontent.ftpe7-4.fna&oh=3fbaa2ca9c03cee6dce954afeb7f1cb8&oe=60CEBB80", alt="")
                .col-sm-4
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/193694151_4196704803721526_2636103559309271475_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=uOWxakoUaHwAX9wA7Tl&_nc_ht=scontent.ftpe7-2.fna&oh=3cb6de6a2b26612767a7bcd81cae1558&oe=60CD7D8A", alt="")
                .col-sm-4
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/195438327_4196705343721472_1569642056276492371_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=730e14&_nc_ohc=_wJ6DoPBZe0AX8HAMgT&_nc_ht=scontent.ftpe7-3.fna&oh=cae3198b613566a7883f8308e60bad6e&oe=60CEA0E4", alt="")
              .row
                .col-sm-12.inside_word INFO : 7-ELEVEN 商品預購活動  活動日期：2020/10/21 AM11:00起開始預購
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/196556968_4196712903720716_8339570633715255662_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=binBfnuXKxUAX8HG2YK&_nc_ht=scontent.ftpe7-2.fna&oh=79f8f4e0c3300129a6df43bac03128cd&oe=60CDA637", alt="")
              .row
                .col-sm-12.inside_word INFO : 7-ELEVEN「限量2021開運金喜福袋」  活動日期：門市現貨1/27凌晨24：00起現貨販售
                .col-sm-12
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/197282038_4196717127053627_4649461235438256001_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=730e14&_nc_ohc=oGUi5iy-dRQAX-yeQpU&_nc_ht=scontent.ftpe7-3.fna&oh=b56122277918dc5f9a65c333fe9d36b6&oe=60CE374D", alt="")
              .row
                .col-sm-12.inside_word INFO : 7-ELEVEN第二波「哆啦A夢元氣新生活集點」  活動日期:9月9日至10月4日開跑
                .col-sm-12
                  img(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/199729212_4196723400386333_7510061595826893875_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=730e14&_nc_ohc=B90xWtutbq8AX-5hhxI&_nc_ht=scontent.ftpe7-1.fna&oh=2729aa854ad2a5e23c2787e15eef1d64&oe=60CEAFAC", alt="")
              .row
                .col-sm-12.inside_word INFO : 7-ELEVEN 「角落草莓梅好心願集點送」活動日期:2020/12月/30開始
                .col-sm-12
                  img(src="https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.6435-9/194344647_4196723917052948_2400749790795360218_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=lEjZ_foYFJ0AX9v5hw1&tn=zMaZBiAEka6WtBJR&_nc_ht=scontent.ftpe7-4.fna&oh=3c9f7f35b0e812bd90bfecc74eefa436&oe=60CF5C4B", alt="")
              .row
                .col-sm-12.inside_word INFO : 7-ELEVEN 「SNOOPY史努比 聯名店」
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/194384242_4196867453705261_2895688718661334191_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=YFtP-N5xsUMAX97nQ-G&_nc_ht=scontent.ftpe7-2.fna&oh=350729c683df88bc5bb14d92add727bc&oe=60CE36AF", alt="")
              
            .modal-footer
              button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') OK
              //button.btn.btn-//primary(type='button') Save changes
              
  #exampleModa3.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog.modal-lg
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Website Design
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') x
            .modal-body
              
              .row
                .col-sm-12.inside_word 室內設計網站規劃
                .col-sm-12
                  img(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/198684837_4196869980371675_5596248231353829875_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=730e14&_nc_ohc=jrRnTvVWGlUAX8CXh1P&tn=zMaZBiAEka6WtBJR&_nc_ht=scontent.ftpe7-1.fna&oh=e53aaafd52a242e6dc166adfc835440f&oe=60CE95D8", alt="")
                .col-sm-12
                  img(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/195025062_4196870547038285_918657460503363725_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=730e14&_nc_ohc=6DMhQ5mptuAAX8aubHv&_nc_ht=scontent.ftpe7-1.fna&oh=26b17ce61bc6de3657b2aa435c03491a&oe=60CE1D8F", alt="")
                .col-sm-12
                  img(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/198363578_4196870843704922_4943787773960523946_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=730e14&_nc_ohc=sSC6NtuPnhIAX9iO2nd&tn=zMaZBiAEka6WtBJR&_nc_ht=scontent.ftpe7-1.fna&oh=6dd262c826e8e3574b55ad5d9c984877&oe=60CE0C5A", alt="")
                .col-sm-12
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/195703589_4196871127038227_8921429932602979531_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=730e14&_nc_ohc=6QfZXj0U_sMAX-3p_GC&tn=zMaZBiAEka6WtBJR&_nc_ht=scontent.ftpe7-3.fna&oh=9d1c896a61eebd4382731bbb1ffa6740&oe=60CDE8EC", alt="")
              
            .modal-footer
              button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') OK
  #exampleModa4.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog.modal-lg
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Website Design
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') x
            .modal-body
              
              .row
                .col-sm-12.inside_word 民宿企業識別
                .col-sm-12
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/201117502_4196947817030558_6533488284650513519_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=730e14&_nc_ohc=e8W7Kds6Mt8AX-SwUWI&_nc_ht=scontent.ftpe7-3.fna&oh=ed02797c52d367fb8b90933d39dda456&oe=60CF0AAC", alt="")
                .col-sm-12
                  img(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/199980349_4196951650363508_2790013380331491802_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_ohc=HZZy0VC4UQcAX_pJ8Ad&_nc_ht=scontent.ftpe7-1.fna&oh=f41b21a74af075839b0ad1da150105cb&oe=60CF8468", alt="")
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/199745011_4196940400364633_8760824216343877747_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_ohc=DP4YawlbdGgAX-L6U_c&tn=zMaZBiAEka6WtBJR&_nc_ht=scontent.ftpe7-2.fna&oh=50cdfcd8ea5ed6bc66f78f8e1740c29a&oe=60CE056F", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/199687240_4196938303698176_6150728874883655137_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=nuLXw5s4vPEAX87VWZR&_nc_ht=scontent.ftpe7-2.fna&oh=54e86ab1368812804e2a38006f8e170f&oe=60CF8723", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/197456493_4196944453697561_5561461898786968842_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=730e14&_nc_ohc=mJN3cKi_0EwAX-96vER&_nc_ht=scontent.ftpe7-1.fna&oh=d445bf0687e770cff4fd9e488be30df4&oe=60CE4572", alt="")
              
            .modal-footer
              button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') OK
  #exampleModa5.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog.modal-lg
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Website Design
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') x
            .modal-body
              
              .row
                .col-sm-12.inside_word 寵物美容企業識別
                .col-sm-12
                  img(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/195845771_4196982567027083_6520875804645142328_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=730e14&_nc_ohc=YyhHP1NQSBAAX97ABm7&_nc_ht=scontent.ftpe7-1.fna&oh=997a15e540fec3dc727596455614f414&oe=60CF3DB0", alt="")
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/196426224_4197025873689419_2704206089607866197_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=vnjB4hJWImwAX9_UX5K&_nc_ht=scontent.ftpe7-2.fna&oh=a512a43ef7220bb3e94422b57d793f47&oe=60CEE3CD", alt="")
                .col-sm-12
                  img(src="https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.6435-9/197282033_4196983993693607_8577625163643012424_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=KL52cdZtJsEAX90AvWw&_nc_ht=scontent.ftpe7-4.fna&oh=f55dff07a5479c7bebaade7e06285757&oe=60CDB2A9", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/198096136_4196984357026904_4186417343288779283_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_ohc=e8r-4ti5CdwAX_IwPzO&_nc_ht=scontent.ftpe7-1.fna&oh=339f2b0f6f95e5a4923bf01a080afe18&oe=60CDD790", alt="")
              
            .modal-footer
              button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') OK
  #exampleModa6.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog.modal-lg
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Website Design
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') x
            .modal-body
              
              .row
                .col-sm-12.inside_word 迴路-讓五感成為你的提示者
                .col-sm-12
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/194992921_4197032423688764_8959321497888514790_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=730e14&_nc_ohc=zw6qiAjxgx4AX-gDR6-&_nc_ht=scontent.ftpe7-3.fna&oh=b9038be1c3f029b7c61f1feb8be26e27&oe=60CE20E9", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/200182095_4197033797021960_6358896832612424952_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=4d4q6fxC8HsAX_Rzxy3&_nc_ht=scontent.ftpe7-2.fna&oh=8d22ea988e46187a17dddf47bb62c6a0&oe=60CF6285", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.6435-9/196149355_4197032790355394_8955793057244802031_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=cNnW2xKW2AcAX9U6Pyu&_nc_ht=scontent.ftpe7-4.fna&oh=a5d91a6ab934016b0549b00938f1c89a&oe=60CF5390", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.6435-9/194444505_4197033157022024_7010493825161786989_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=730e14&_nc_ohc=cgQOm8dryvgAX9c7pVv&tn=zMaZBiAEka6WtBJR&_nc_ht=scontent.ftpe7-4.fna&oh=ec3a5ea12e3a8e5ba49bc5587b9fa10a&oe=60CE368B", alt="")
                .col-sm-12.inside_word <br>網站設計<br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/195879528_4197034620355211_7630303935161614742_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=730e14&_nc_ohc=Xlld4X_oGbgAX_4Grqa&_nc_ht=scontent.ftpe7-3.fna&oh=c787db9eab89899d911a835592d3dffb&oe=60CE3C24", alt="")
                .col-sm-12
                  img(src="https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.6435-9/196297030_4197035217021818_5660510314170652332_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=730e14&_nc_ohc=JMgI7XTW3uQAX-leNcV&_nc_ht=scontent.ftpe7-4.fna&oh=50c1ccebbf811db64a6bf71979968d6a&oe=60CF6524", alt="")
  #exampleModa7.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog.modal-lg
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Website Design
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') x
            .modal-body
              
              .row
                .col-sm-12.inside_word Unique-品牌大學T
                .col-sm-12
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/199289850_4202333299825343_7566225626023580890_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=730e14&_nc_ohc=leGwxSNEV-oAX9JkD0W&_nc_ht=scontent.ftpe7-3.fna&oh=b7e89079437d3a454c11372a79a2ea81&oe=60D1C115", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.6435-9/197880977_4202335903158416_7061213098548516999_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=7paHqR7y2pwAX_GiBbr&_nc_ht=scontent.ftpe7-4.fna&oh=1f30274b5eb48dc831b7a3390a99f68e&oe=60D2115E", alt="")
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/201182629_4202335639825109_3216354230610569733_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=vPS0C4cGcisAX_k5cmM&tn=zMaZBiAEka6WtBJR&_nc_ht=scontent.ftpe7-2.fna&oh=1cff30dbccc2d38add8e0e08357bcd3d&oe=60D052D9", alt="")
                
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/195420407_4202367719821901_2616327555587580175_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=730e14&_nc_ohc=ZkjBWScRdwwAX-xxmOR&_nc_ht=scontent.ftpe7-3.fna&oh=fafb105baf3c0798946af7f1e9e8f635&oe=60D0ECFB", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/195591875_4202333543158652_6129011087914895293_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=730e14&_nc_ohc=aYqqKRbWf_EAX8IWLmV&_nc_ht=scontent.ftpe7-1.fna&oh=bed30945d6fc3960f4659a4ee20ea1ac&oe=60D09EEF", alt="")
  #exampleModa8.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog.modal-lg
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Website Design
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') x
            .modal-body
              
              .row
                .col-sm-12.inside_word 手繪蛋糕包裝
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/199278375_4202376433154363_9141334438062781466_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_ohc=bHNK1HC4dzoAX_gl0VV&_nc_ht=scontent.ftpe7-2.fna&oh=c607e956fcf8d58b6eed85d46060522b&oe=60D10F3F", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/198848099_4202376546487685_1411050488190069955_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=730e14&_nc_ohc=a8Y7hs_Fr58AX_Iwreu&_nc_ht=scontent.ftpe7-3.fna&oh=48912c3ad54f769e5d2f8d0e7c0f6e28&oe=60D0BD51", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/195489555_4202376693154337_8656539127476400293_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=730e14&_nc_ohc=HTV40tAWsYwAX9uVs_A&_nc_ht=scontent.ftpe7-2.fna&oh=2e9b8a87240fd7020281e8fd6bbeb924&oe=60D1F25F", alt="")
                
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/200271955_4202376829820990_6333226152439533941_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=LzBQFYyHamgAX8O8fyg&_nc_ht=scontent.ftpe7-2.fna&oh=ddf49cfced8054d5a68f8362ef947f22&oe=60D1605D", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.6435-9/198618207_4202376953154311_5164647300677997203_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=VwNGBRYtT5AAX91ecZ8&tn=zMaZBiAEka6WtBJR&_nc_ht=scontent.ftpe7-4.fna&oh=9e987e641e2d34d846530ffca387cdb3&oe=60D0AA43", alt="")
  #exampleModa9.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog.modal-lg
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Website Design
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') x
            .modal-body
              
              .row
                .col-sm-12.inside_word 北極熊桌遊設計
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/198652974_4202394616485878_4551118147161643403_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=mjN2VtwKflUAX-iJoMo&_nc_ht=scontent.ftpe7-2.fna&oh=87f233d81e8ee58923980b486873b3f0&oe=60D24CC5", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/197189621_4202394909819182_8922875649905352979_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=730e14&_nc_ohc=KirY5BCw0v4AX9EpqZa&_nc_ht=scontent.ftpe7-1.fna&oh=8ebe95dd319be842eec621335ec45508&oe=60D1F3E8", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/203058460_4202395123152494_1313411782405942875_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_ohc=qlv3w2Y-ffEAX9o0tuH&_nc_ht=scontent.ftpe7-2.fna&oh=4919dad99f70f65600813d4e16020a87&oe=60D17463", alt="")
                
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/194698326_4202395539819119_5665093039980613653_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=730e14&_nc_ohc=Wl7D7uvq7fAAX_CdjII&_nc_ht=scontent.ftpe7-1.fna&oh=b64ea5339fb03e3b9747f53c50d4ccdd&oe=60D079ED", alt="")
  #exampleModa10.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog.modal-lg
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Website Design
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') x
            .modal-body
              
              .row
                .col-sm-12.inside_word 校園人才招募
                .col-sm-12
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/197345097_4202428723149134_5738988039296795250_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=730e14&_nc_ohc=5Krhx_g_df0AX-0LlA5&_nc_ht=scontent.ftpe7-3.fna&oh=2333f28875dc11b407f942ca34959d81&oe=60D22683", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/196491748_4202437549814918_4241617144626605773_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=730e14&_nc_ohc=szIRdjgElFgAX_6dIRM&_nc_ht=scontent.ftpe7-3.fna&oh=d2aa9a074580277c70c8722a36a4abb8&oe=60D0E42D", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.6435-9/197140456_4202429789815694_8764619165554232955_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=I_Ignk4F_MEAX_RjZdr&_nc_ht=scontent.ftpe7-4.fna&oh=d71b289906012425249b095f9866e9f2&oe=60D104F6", alt="")
                
                .col-sm-12 <br>
                .col-sm-12.inside_word 校園人才招募提案-B
                .col-sm-12
                  img(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/201182629_4202428509815822_1581766651758445213_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=730e14&_nc_ohc=Rob3-qN4fwUAX8wlPdL&_nc_ht=scontent.ftpe7-1.fna&oh=37eee04ff3c8cea7294c951babcd48ae&oe=60D0958A", alt="")
                .col-sm-12 <br>
                .col-sm-12.inside_word 尾牙視覺提案
                .col-sm-12
                  img(src="https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.6435-9/200602501_4202428373149169_128497664291841286_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=730e14&_nc_ohc=qUHlzYnEqQIAX-r4IwJ&_nc_ht=scontent.ftpe7-4.fna&oh=fc9ed21458220655b558f5e2e4deaa06&oe=60D1E05D", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.6435-9/201299580_4202428026482537_1728761992656713539_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=730e14&_nc_ohc=iNrUSUnWfmQAX-VoB7p&_nc_ht=scontent.ftpe7-4.fna&oh=32bec34afb5a4e866cb51e1220bc0f30&oe=60D1785D", alt="")
                .col-sm-12 <br>
                .col-sm-12.inside_word 尾牙視覺提案-B
                .col-sm-12
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/197527427_4202428229815850_4562765447898292277_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=730e14&_nc_ohc=q_wJXu2pWLMAX_iRC4d&tn=zMaZBiAEka6WtBJR&_nc_ht=scontent.ftpe7-3.fna&oh=edfea4e51a1849d8c1429ddf0abbc705&oe=60D08AF2", alt="")
  #exampleModa11.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog.modal-lg
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title New Generation Design Exhibition
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close') x
            .modal-body
              
              .row
                .col-sm-12.inside_word 新一代設計主視覺設計
                .col-sm-12
                  img(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/197140463_4202478293144177_2160747902776724925_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_ohc=cZ3TlAI4R6oAX9vAGB2&tn=zMaZBiAEka6WtBJR&_nc_ht=scontent.ftpe7-1.fna&oh=7996c8113299fd6484ba46fffa04a67f&oe=60D11383", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/194354260_4202478499810823_328662853362871740_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_ohc=6pP_66CJ9EUAX9XWaM3&_nc_ht=scontent.ftpe7-2.fna&oh=f26c677d891874dcb5c491ad05777fe4&oe=60D1FAE3", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.6435-9/201533734_4202478949810778_7872858880721165397_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=730e14&_nc_ohc=lblGRoM__BsAX8V6KGq&_nc_ht=scontent.ftpe7-3.fna&oh=45344f4731b14af38cf4b39684c75cc8&oe=60D21C08", alt="")
                .col-sm-12 <br>
                .col-sm-12
                  img(src="https://scontent.ftpe7-2.fna.fbcdn.net/v/t1.6435-9/200084433_4202479343144072_6516653618011653987_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=730e14&_nc_ohc=mDzgN4kxFKEAX-7EXdd&_nc_ht=scontent.ftpe7-2.fna&oh=f6055ba3bcde456d42dea593040003ad&oe=60D130B4", alt="")
                
                
              
            .modal-footer
              button.btn.btn-secondary.btn-sm(type='button' data-bs-dismiss='modal') OK
              
  //------------------------------------------------
  .container
    
    .row
      .col-sm-12.word WORK
      
       
    .row
      .col-sm-4(data-bs-toggle='modal',data-bs-target='#exampleModa1').work1
      
      .col-sm-8
        .row
          .col-sm-6.work.work2(data-bs-toggle='modal',data-bs-target='#exampleModa2')
           
            
          .col-sm-6.work.work3(data-bs-toggle='modal',data-bs-target='#exampleModa3')
          
        .row
          .col-sm-6.work.work.work4(data-bs-toggle='modal',data-bs-target='#exampleModa4')
          .col-sm-6.work.work.work.work5(data-bs-toggle='modal',data-bs-target='#exampleModa5')
    .row
      .col-sm-4.work.work.work.work6(data-bs-toggle='modal',data-bs-target='#exampleModa6')
      .col-sm-4.work.work.work.work7(data-bs-toggle='modal',data-bs-target='#exampleModa7')
      .col-sm-4.work.work.work.work8(data-bs-toggle='modal',data-bs-target='#exampleModa8')
    .row
      .col-sm-4.work.work.work.work10(data-bs-toggle='modal',data-bs-target='#exampleModa10')
      .col-sm-4.work.work.work.work9(data-bs-toggle='modal',data-bs-target='#exampleModa9')
      .col-sm-4.work.work.work.work11(data-bs-toggle='modal',data-bs-target='#exampleModa11')
  img#cat(src="https://i.imgur.com/bQQUQyM.png", alt="")
  //img.cat.cat2(src="https://i.imgur.com/7YqWy6Z.png", alt="")
  //img.cat.cat3(src="https://i.imgur.com/MfQocQu.png", alt="")
  img.follow_icon.text-right(src="https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.6435-9/193315742_4194351210623552_143102830468335122_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=730e14&_nc_ohc=AgUuzng4DAsAX-pwh7w&_nc_ht=scontent.ftpe7-1.fna&oh=019b3f832c2244b36a8f39ef56937c5f&oe=60CDE7FB", alt="")
  
  //------------------------------------------------
section#section-contect
  //img#Watering(src="https://i.imgur.com/2QaRt51.png", alt="")
  .container
    .row
      .col-sm-12.word Contect 
      
      .col-sm-6.mail
        h6 Dear Miao
        label Name
        input.input(type="text")
        label Email
        input.input(type="text")
        label Contet
        textarea(name="", cols="40", rows="5").input
        form.row.g-3
          .col-12
            button.btn.btn-primary.float-right.btn-sm(type='submit') Sign in
      .col-sm-6
        .col-sm-12.word5
          p If you have any question about me
          p Don`t hestitate to contact me !
          br
          p ccc551231@gmail.com
          p ADDRESS: TAIWAN, TAIPEI , XORO Road
      
      .col-sm-7.offset-6.flower
        img.flower#flower_1(src="https://i.imgur.com/vaJYWHM.png", alt="")
        img.flower#flower_2(src="https://i.imgur.com/vaJYWHM.png", alt="")
    
        img.flower#flower_3(src="https://i.imgur.com/vaJYWHM.png", alt="")
      .col-sm-12.rock
         img.rock_icon(src="https://i.imgur.com/1n7GVrs.png", alt="")
  
   
    
    
    
footer#footer
  img.icon(src="https://scontent.ftpe7-4.fna.fbcdn.net/v/t1.6435-9/200266197_4201851203206886_6626247927121163302_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=dIS58Nfh-loAX-sgQAg&tn=zMaZBiAEka6WtBJR&_nc_ht=scontent.ftpe7-4.fna&oh=f8499b38abeb37bcae32c80857efae4e&oe=60D0B323", alt="")